* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 0px;
  /* background-color: grey; */
}

body {
  font-family: sans-serif;
  background: #ecf0f3;
}
